extends layout

block content
  
    
  

  .container2
    if (!usuario)
        p No has iniciado sesion!
        a(href="/login")
          button(class="botontruco") Login
    if (usuario)    
      
        h1 Bienvenido! 
        h3 Crea una partida de truco o unete a una!
        a(href="/newgame")
          button(class="botontruco") CREAR
        a(href="/joingame")
          button(class="botontruco") UNIRTE
        br
        //img(src='/images/homero2.gif',class='homero')  
        br
      
