extends layout

block content
  
  if (!user)
    br
    a(href="/login") <h1><b>Login<b><h1>

  


  if (user)
    p Ya te logeaste como: #{user.username}
    a(href="/logout") <h3><b>Logout<b><h3>
    br
    br
    a(href="/newgame") <h3><b>NUEVO JUEGO!<b><h3>

    br
    br
    a(href="/ayuda") <h3><b>No se jugar<b><h3>
