extends layout

block content
  if (!user)
    br

    a(href="/login") <center><h1><b>Login<b><h1><center>

    
  


  if (user)
    .logout
      p Ya te logeaste como: #{user.username}
        a(href="/logout") 
          button.btn.btn-default Logout
    center
      a(href="/newgame")
        button.btn.btn-default CREAR
      a(href="/joingame")
        button.btn.btn-default UNIRTE
      br
      img(src='/images/homero2.gif',class='homero')  
      br
      a(href="/ayuda") 
        button.btn.btn-default AIUDA