extends layout

block content
  script(src="/socket.io/socket.io.js")
  script.
    var socket = io.connect('/'); //var socket = io.connect('http://localhost:3000');
    function FuncJoin(){
      socket.emit("join");
    }
  
  
  
  
  .container2
    h1 Unete a un juego creado! 
    p.lead 
    br
    
    form(name="join",role="form",action="/joingame",method="post")
      each juego in games
        if (username != juego.owner)
          .cajabotonjoin
            button(type="submit",name="idgame",value='#{juego._id}',class="botontruco") #{juego.owner}
          
          
    a(href='/')
      button(type="button",class="botontruco") Cancelar
    a(href='/joingame')
      button(type="button",class="botontruco") Refrescar  
    br
    
