doctype html
html
  head
    title= "PROYECTO TRUCO"
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='https://s-media-cache-ak0.pinimg.com/736x/aa/6e/8d/aa6e8d0ba1ee3a0fea3df7c7d5b00f6b.jpg', type='image/x-icon') 
  body
    img(src='https://o1.t26.net/images/head-truco.gif')
    block content

  script(src='http://code.jquery.com/jquery.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
