doctype html
html
  head
    title= "PROYECTO TRUCO"
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='./images/favicon.jpg', type='image/x-icon') 
   

  body
    
    script(type='text/javascript', src='http://scmplayer.net/script.js', data-config="{'skin':'skins/black/skin.css','volume':98,'autoplay':true,'shuffle':false,'repeat':1,'placement':'top','showplaylist':false,'playlist':[{'title':'Nene malo ','url':'https://www.youtube.com/watch?v=BO4ZZMrF_Hw'}]}")
    
    <hr>
    img(src='./images/head-truco.gif')
    <hr>
    block content

  script(src='http://code.jquery.com/jquery.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
