extends layout

block content 
    
    .container2
      center Inicia sesion
        form(role='form', action="/login",method="post", style='max-width: 300px;')
          .form-group
            input.form-control(type='text', name="username", placeholder='Usuario')
          .form-group
            input.form-control(type='password', name="password", placeholder='Contraseña')
          button(type='submit',class="botontruco") Aceptar
          a(href='/')
            button(type="button",class="botontruco") Cancelar
    
      center
        b
          a(href="/register",class='.link') No tengo cuenta, quiero registrarme!
