extends layout

block content
  .container
    h1 Creacion de el juego 
    p.lead 
    br
    form(role='form', action="/newgame",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="nombrejug1", placeholder='NOMBRE JUGADOR UNO')
      .form-group
        input.form-control(type='text', name="nombrejug2", placeholder='NOMBRE JUGADOR DOS')
     
       button.btn.btn-default(type='submit') Aceptar
      &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") cancelar
    br
    