extends layout

block content
  center
    h1 Registrate!
      p.lead :P
      
    .container
      br
      form(role='form', action="/register",method="post", style='max-width: 300px;')
        .form-group
            input.form-control(type='text', name="username", placeholder='usuario')
        .form-group
          input.form-control(type='password', name="password", placeholder='contraseña')
        button(type='submit',class="botontruco") Aceptar
        &nbsp;
        a(href='/')
          button(type="button",class="botontruco") Cancelar
